.PG3Container {
  border: 2px solid transparent;
  width: 70vw;
  height: auto;
  margin: 4vh auto;
  display: flex;
  flex-wrap: wrap;
  padding: 32px 30px 34px 30px;
  background-color: black;
  position: relative;
}
.browse--Button {
  border: 2px solid transparent;
  color: white;
  position: absolute;
  right: 42px;
  bottom: 3px;
  background-color: #148a08;
  padding: 2px 13px 4px 13px;
  border-radius: 30px;
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Profile--Weather--Part {
  /* border: 1px dotted black; */
  width: 55%;
  height: auto;
  margin: auto;
}

/* news part */
.News--Part {
  /* border: 1px dotted white; */
  width: 30%;
  height: 520px;
  margin: auto;
  color: white;
  border-radius: 10px;
  padding: 2px;
}
.newsImage--dates {
  /* border: 1px solid rgb(0, 255, 208); */
  position: relative;
  height: 60%;
}
.newsImage--dates img {
  height: 100%;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}
.Mountain--And--date {
  background-color: rgb(23, 24, 30, 0.8);
  position: absolute;
  bottom: 0px;
  padding: 0px 8px 2px 8px;
  font-size: 10px;
  word-wrap: break-word;
}
.separateStick {
  margin: 0px 8px;
  line-height: 1.3;
}
.News--text {
  background-color: white;
  color: black;
  line-height: 1.5;
  text-align: justify;
  padding: 5px 5px;
  margin-top: 0px;
  height: 35%;
  overflow: hidden;
  border-radius: 0px 0px 10px 10px;
}

/* ****************** */
.Only--profile {
  /* border: 2px dotted blue; */
  width: 100%;
  height: auto;
  background-color: #5746ea;
  color: white;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
}
.Only--profile > img {
  width: 90px;
  height: 180px;
  margin: auto;
}
.Pr--we--notes--parent {
  /* border: 3px solid red; */
  display: flex;
  width: 98%;
  margin: auto;
}
textarea {
  width: 35%;
  height: 350px;
  background-color: #f1c75b;
  color: black;
  border-radius: 10px;
  align-self: center;
  font-size: 20px;
  font-weight: bold;
  overflow: auto;
  padding: 0px 10px;
}

.full--left--part {
  /* border: 2px solid yellowgreen; */
  width: 68%;
  height: 100%;
}
.details--AND--categories {
  /* border: 1px dotted white; */
  width: 60%;
  height: auto;
  margin: auto;
  font-size: 14px;
  /* padding: 5px; */
  line-height: 0.9;
}
.User--Name {
  /* border: 1px dotted white; */
  font-size: 18px;
  font-weight: 800;
  word-wrap: break-word;
}
.UserEmail {
  word-wrap: break-word;
}
.Categorytext {
  /* border: 2px solid transparent; */
  color: white;
  display: inline-block;
  border-radius: 12px;
  background-color: #9f94ff;
  font-size: 12px;
  padding: 5px 10px;
  width: 65px;
  text-align: center;
  margin-left: 5px;
  margin-top: 2.3px;
  cursor: pointer;
}
/* Weather part */
.Only--Weather {
  /* border: 4px dotted blue; */
  width: 100%;
  height: auto;
  margin-top: 15px;
  border-radius: 10px;
}

.Times--area {
  background-color: #ff4ade;
  height: auto;
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  align-items: center;
  justify-content: space-around;
  padding: 7px 0px;
  border-radius: 10px 10px 0px 0px;
}

.All--weather--details {
  /* border: 1px dotted red; */
  width: 100%;
  height: auto;
  background-color: #101744;
  display: flex;
  flex-wrap: wrap;
  color: white;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 0px 0px 10px 10px;
}
.Weather--divider {
  /* border: 1px solid rgb(90, 87, 87); */
  height: 33px;
  width: 0.1px;
  background-color: rgb(90, 87, 87);
}
.All--weather--details > div:nth-child(1) {
  background-color: transparent;
}

.All--weather--details > div:nth-child(1) img {
  width: 80px;
  height: auto;
  /* border: 1px solid white; */
  display: block;
}
.weather--condition {
  /* border: 1px solid white; */
  margin-top: -35px;
  text-align: center;
}
.celcius--div {
  /* border: 1px solid white; */
  text-align: center;
  line-height: 0;
  font-size: 10px;
}

.PreContainer {
  /* border: 1px solid green; */
  display: flex;
  padding: 0px 5px;
  margin-top: -9px;
}
.temp--div {
  /* border: 1px solid green; */
  width: auto;
  height: auto;
  margin-top: 5px;
}
.mbar--div {
  /* border: 1px solid red; */
  text-align: center;
  line-height: 0.3;
  padding: 0px 4px;
}
.Celcius--text {
  color: white;
  font-size: 35px;
  font-weight: 540;
}
.Wind--container {
  /* border: 1px solid white; */
  text-align: left;
  font-size: 10px;
}
.wrapping--windLogo--text {
  /* border: 1px solid white; */
  display: flex;
}
.wrapping--windLogo--text > div:nth-child(1) {
  /* border: 1px solid white;  */
  margin-top: 5px;
  margin-right: 6px;
}
.wrapping--windLogo--text > div:nth-child(2) {
  line-height: 0.3;
}
.Humidity--container {
  margin-top: -3px;
}
.alarm {
  /* border: 2px solid blue; */
  width: 93%;
  height: auto;
  margin: auto;
  color: white;
  margin-top: 25px;
}

@media screen and (max-width: 981px) {
  .PG3Container {
    width: 90vw;
  }
}

@media screen and (max-width: 711px) {
  .PG3Container {
    display: block;
    padding-bottom: 30px;
    margin: auto;
  }
  .PG3Container > div {
    margin: auto;
  }
  .PG3Container > div:nth-child(1) {
    width: 90%;
  }
  .PG3Container > div:nth-child(2) {
    width: 90%;
    height: 400px;
    margin-top: 13px;
  }
}
@media screen and (max-width: 538px) {
  .Pr--we--notes--parent {
    display: block;
  }
  .Pr--we--notes--parent > div {
    width: 100%;
  }
  textarea {
    width: 90%;
    display: block;
    margin: 7px auto;
    height: 200px;
  }
}

@media screen and (max-width: 245px) {
  .Categorytext {
    width: 100%;
    display: block;
    margin: 10px auto;
    padding: 5px 0px;
    word-wrap: break-word;
  }
}
