/* .App {
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;
    text-align: center;
    padding-top: 40px;
  }
  
  .time {
    font-size: 32px;
  }
   */

.Entire--container {
  border: 1px solid white;
  width: 80%;
  height: 90%;
  margin: auto;
  display: flex;
}
.Entire--container > div:nth-child(1) {
  border: 1px solid white;
  width: 40%;
  height: 100%;
}
.Entire--container > div:nth-child(2) {
  border: 1px solid white;
  width: 60%;
  height: 100%;
}
.TimeCircle {
  border: 1px solid white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: auto;
  margin-top: 18px;
  color: white;
  display: flex;
 align-items: center;
 justify-content: center;
}
.Hr--Mn--Se--container {
  border: 1px solid red;
  width: 95%;
  height: 80%;
  color: white;
  display: flex;
  line-height: 0.4;
  text-align: center;
}
.Button {
  border: 1px solid green;
  width: 95%;
  height: auto;
  color: white;
}
.Button > button {
  width: 100%;
  background-color: palevioletred;
  color: white;
  cursor: pointer;
}
.Hr--Mn--Se--container > div {
  border: 1px dotted white;
  width: 30%;
  height: 10005;
  /* margin: auto; */
}
.dubble--separator {
  margin: auto;
}
.Up--arrow > img {
  width: 15px;
  cursor: pointer;
}
.Down--arrow > img {
  width: 15px;
  cursor: pointer;
}
